/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }

ol, ul { list-style: none; }
blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body { font-family: sans-serif;}
a { text-decoration: none;}

a:hover { color: #ff0000; }

.icon {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  text-indent: -9999px;
}

.icon::before {
  float: left;
  text-indent: 0;
 }

/* start */
.wrapper { 
  width: 68.72%;
  margin: 0 auto;
}

/* header */

header { position: relative; }
header .wrapper { display: flex; }
.nav-item form { position: relative; }

.nav-item {  
  width: 34.3%;
  margin-left: 53.5%;
  margin-right: 1em;
  padding-top: 1.6em;
}

header .icon { 
  color: #ffffff; 
  font-size: 22px;
}

.nav-item input { 
  width: 75%;
  margin-left: 25%; 
  padding: 0.4em 0;
  border: none;
  background-color: #eae3dd;
}

.search { 
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
}

.nav-list { 
  margin-top: 0.5em;
  display: flex; 
  justify-content: space-between;
}

.nav-list a {
  padding-right: 0.9em;
  border-right: 1px solid #b9b9b9;
  color: #b9b9b9;
  font-size: 0.6em;
  text-transform: uppercase;
}

.nav-list li:last-child a {
  padding-right: 0;
  border-right: none;
}

.house , .mail { 
  padding:0 0.2em;
  padding-top: 2.5em;
  padding-bottom: 0.3em;
  margin:0 0.3em;
  background-color: #5fb6c8;
}

.search::before { content: '\f002'; }
.house::before { content: '\f015';}
.mail::before { content: '\f0e0'; }

.hamburger { 
  position: absolute;
  top: 1em;
  right: 3%;
  display: none;
}

.close::before { 
  content: "\f00d"; 
  color: #000;
}

.hamburger::before{
  content: "\f0c9";
  color: #000;
  font-size: 2em;
}

/* section main */

.main { margin-top: 7em; }

.main-list { 
  width: 74%;
  padding-bottom: 1.8em;
  display: flex;
  justify-content: space-between;
}

.main-list h3 {
  padding-bottom: 0.5em;
  color: #309298;
  font-size: 0.9em;
  font-weight: 700;
}

.main-list h3::first-letter { text-transform: capitalize; }

.main-list li { 
  padding: 0 0.4em;
  border-right: 4px solid #eae3dd;
}

.main-list li:first-child { 
  padding: 0; 
  padding-right: 0.5em;
}

.main-list li:last-child { 
  padding-right: 0;
  border-right: none;
}

.main-list p { 
  color: #b9b9b9;
  font-size: 10px;
}

.main-content { 
  width: 100%;
  display: flex; 
}

.main-left { 
  width: 74%;
  padding-top: 1em;
  background-color:#eae3dd;
}

.main-item { 
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.agosto { 
  width: 14%; 
  padding:0 0.8em;
  padding-top: 3.3em;
  border-right: 1px solid #b9b9b9;
  text-align: right;
}

.agosto h3 { 
  padding-bottom: 2em;
  padding-left: 1em;
  color: #309298;
  font-weight: 700;
  text-transform: capitalize;
}

.agosto p { 
  font-size: 0.6em;
  text-transform: capitalize;
}

.agosto-list { padding-top: 1.8em; }
.agosto-list > li { padding-bottom: 1.8em; }
.social-link { line-height: 0.5em; }

.agosto > p > span { 
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: capitalize;
}

.agosto-list h4 { 
  font-size: 0.7em;
  font-weight: 700;
}

.agosto-list a { 
  color: #000000;
  font-size: 0.6em;
  text-transform: capitalize;
}

.main-storage { 
  width: 80%; 
  padding: 0 1em;
}

.main-storage h2 { 
  padding-bottom: 1.8em;
  font-size: 1.2em;
  font-weight: 700; 
}

.main-storage h2::first-letter { text-transform: capitalize;}

.main-storage p { 
  font-size: 0.7em; 
  padding-bottom: 1.8em;
}

.main-storage form { 
  width: 50%;
  margin: 0 auto;
 }

.main-right { width: 25%; }

